.App {
  text-align: center;
  background-image: url("https://blogs.worldbank.org/sites/default/files/styles/hero/public/2021-04/currencies_hero_image.jpg?itok=iybrd_e0");
  background-color: rgb(71, 219, 150);
  background-blend-mode: screen;
  height: 100%;
}
